.actionBtnWrapper {
  text-align: center;
  background: #4683b4de;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.--greenBtn {
  background: #2e8b56de;
}

.--redBtn {
  background: #ff4756de;
}

.actionBtn {
  transition: all 0.3s ease-in-out;
}

.actionBtn:hover {
  transform: scale(1.1);
}
