.accountPage {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.accountPage .actionBtnWrapper {
  padding: 5px;
  width: max-content;
}

.accountPage button {
  border: none;
  background: none;
}

.fieldWrapper {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.accountPage label:not(label:first-of-type) {
  margin-left: 20px;
}
